<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesome_lib.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.awesome_lib.core.provider.CoreInitProvider"
            android:authorities="${applicationId}.provider.CoreInitProvider"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="false" />
    </application>
</manifest>
